<ul id="sidebar_menu">
    

    <li class="">
        <a asp-controller="contacts" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>contactpost </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="Experience" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Experience </span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="Education" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/forms.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Education</span>
            </div>
        </a>

    </li>

    <li class="">
        <a asp-controller="bio" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/17.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Bio</span>
            </div>
        </a>

    </li>
    
    
    
    <li class="">
        <a asp-controller="Blog" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/Mail_Box.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Blog-Paylasimlar </span>
            </div>
        </a>

    </li>

</ul>