@model ExperienceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>edu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkName" class="control-label"></label>
                <input asp-for="WorkName" class="form-control" />
                <span asp-validation-for="WorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPlace" class="control-label"></label>
                <input asp-for="WorkPlace" class="form-control" />
                <span asp-validation-for="WorkPlace" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="WorkType" class="control-label"></label>
                <input asp-for="WorkType" class="form-control" />
                <span asp-validation-for="WorkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeInterval" class="control-label"></label>
                <input asp-for="TimeInterval" class="form-control" />
                <span asp-validation-for="TimeInterval" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:450px">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>


            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@*@section addcss {
    <link href="~/libs/image-letter-input/StyleSheet.css" rel="stylesheet" />

}


@section addjs{
    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/image-letter-input/image-letter.js"></script>

    <script>

        $(document).ready(function () {
            ClassicEditor
                .create(document.querySelector('#Body'))
                .catch(error => {
                    console.error(error);
                });
        })
    </script>
}*@

