
@{
    ViewData["Title"] = "Portfolio";
}



<nav>
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-tabis" aria-expanded="false"> <span class="tittle">MENU</span> <span class="fa fa-navicon icon-nav" aria-hidden="true"></span> </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-tabis">
        <ul class="isop-filter nav nav-pills">
            <li role="presentation" class=""><a asp-controller="Home" asp-action="index"><i class="icon-user"></i> ABOUT ME</a></li>
            <li role="presentation" class=""><a asp-controller="Resume" asp-action="index"><i class="icon-book-open"></i>RESUME</a></li>
            <li role="presentation" class="active"><a asp-controller="Home" asp-action="Portfolio"><i class="icon-rocket"></i>PORTFOLIO</a></li>
            <li role="presentation"><a asp-controller="Blog" asp-action="Index"><i class="icon-note"></i>BLOG</a></li>
            <li role="presentation"><a asp-controller="Home" asp-action="Contact"> <i class="icon-pencil"></i>CONTACT ME</a></li>
        </ul>
    </div>
</nav>

<div role="tabpanel" class="tab-pane fade active in" id="portfolio">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">PORTFOLIO</h5>

        <!-- PORTFOLIO -->
        <section class="portfolio padding-top-50 padding-bottom-50">
            <!-- Work Filter -->
            <ul class="tabs portfolio-filter text-center margin-bottom-30">
                <li class="filter active" data-filter="all">all</li>
                <li class="filter" data-filter=".brand">Branding</li>
                <li class="filter" data-filter=".design">designing</li>
                <li class="filter" data-filter=".photo">photography</li>
                <li class="filter" data-filter=".visual">visual design</li>
            </ul>

            <!-- PORTFOLIO ITEMS -->
            <div id="Container" class="item-space row col-3" style="height: 0px; perspective: 3000px; perspective-origin: 50% 50%; transition: height 600ms ease 0s;">

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#.">
                            <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-1.jpg">
                        </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span>
                                        <a href="#.">Fashion / trending</a>
                                    </span>
                                    <a href="https://github.com/Eltun-Ismayilov/Riode-Aspcore-shop" target="_blank" class="go"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#.">
                            <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-1.jpg">
                        </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span>
                                        <a href="#.">Fashion / trending</a>
                                    </span>
                                    <a href="https://github.com/Eltun-Ismayilov/Riode-Aspcore-shop" target="_blank" class="go"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design pf-branding-design" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-3.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design pf-digital-art " data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-4.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-branding-design pf-digital-art" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-5.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-design pf-digital-art" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-9.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design pf-branding-design" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-7.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design pf-digital-art " data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-8.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item mix pf-web-design pf-branding-design" data-inter-pos-x="0" data-inter-pos-y="0" data-final-pos-x="0" data-final-pos-y="0" style="transition: all 600ms ease 0ms, opacity 600ms linear; display: inline-block; transform: translate(0px, 0px);" data-bound="true">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/portfolio/5/img-9.jpg"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <span><a href="#.">Fashion / trending</a></span> <a href="#." class="go"><i class="fa fa-search" aria-hidden="true"></i></a> <a href="#." class="go"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
